# Gradle
.gradle/
build/
docker/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
/node_modules

api-gateway/.gradle/
api-gateway/bin/
api-gateway/build/
api-gateway/src/main/resources/META-INF/img/
api-gateway/src/main/resources/META-INF/resources/
api-gateway/src/main/resources/*.pem
api-gateway/src/tmp-templates/
api-gateway/src/test/resources/db/changelog/db/*sql
api-gateway/src/test/resources/db/*.zip
api-gateway/src/test/resources/db/word/
go-postgres-cdc-etcd/postgres-cdc-etcd.yaml
