.App {
    max-width: 1000px;
    margin: 1em auto
}
.todo-form {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
}
    .todo-form input[type="text"] {
        flex-grow: 1;
        padding: 5px;
        margin-right: 5px;
    }
.todo-list {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.todo-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.todo-item:last-child {
    margin-bottom: 0;
}
    .todo-item input:checked + span {
        text-decoration: line-through;
    }
    .todo-item .remove {
        color: #f00;
        font-weight: bold;
        cursor: pointer;
    }
.error {
    color: #f00;
}
.info {
    color: #0a0;
}
